## 1. Crawling 데이터 정리

In [ ]:
import pandas as pd

In [2]:
# 2017 ~ 2019년 1월 까지 데이터 불러오기
petition = pd.read_csv('petition.csv')
petition.shape

(377756, 8)

In [3]:
petition.tail(3)

,article_id,start,end,answered,votes,category,title,content
377753,492041,2019-01-09,2019-02-08,0,1,외교/통일/국방,남한땅에 옥류관을 오픈해주세요,말그대로 옥류관을 여기서 열면 진짜 재미있고 신나는 일이 일어날것 같은 느낌이 듭니...
377754,492042,2019-01-09,2019-02-08,0,4,정치개혁,임종석실장님 수고많으셨습니다.,범죄정권이후 많은 어려움을 갖고 시작한 국민의정부.\n저급한 자칭 보수단체와 한국당...
377755,492043,2019-01-09,2019-02-08,0,1,행정,예천군과 환경부를 규탄합니다. 어불성설인 가축사육 관련 법규를 개정해주세요!,해당 사건이 발생한 곳은 요즘은 매체에서 매일 나오는 곳으로 '군의원의 외유성 해외...

In [13]:
# 필요없는 컬럼 제거

petition1 = petition.copy()
petition1.drop(['answered'],axis= 'columns', inplace=True)
petition1.tail()

,article_id,start,end,votes,category,title,content
377751,492039,2019-01-09,2019-02-08,48,인권/성평등,박종철 의원. 폭행구속수사 및 의원직 박탈 청원합니다,나라돈으로 해외연수가서 현지 동반 가이드를 때려 안경 파편이 얼굴이 꽂혔답니다. C...
377752,492040,2019-01-09,2019-02-08,5,정치개혁,각 정상들은 들으시요 국회의원을 학력과 무관한 양심 및 윤리가 있는 서민이 되어...,각 정당은 현재 국회의원 개개인을 심사하면 지탄받은 사람이 국\n회를 장악하고 있습...
377753,492041,2019-01-09,2019-02-08,1,외교/통일/국방,남한땅에 옥류관을 오픈해주세요,말그대로 옥류관을 여기서 열면 진짜 재미있고 신나는 일이 일어날것 같은 느낌이 듭니...
377754,492042,2019-01-09,2019-02-08,4,정치개혁,임종석실장님 수고많으셨습니다.,범죄정권이후 많은 어려움을 갖고 시작한 국민의정부.\n저급한 자칭 보수단체와 한국당...
377755,492043,2019-01-09,2019-02-08,1,행정,예천군과 환경부를 규탄합니다. 어불성설인 가축사육 관련 법규를 개정해주세요!,해당 사건이 발생한 곳은 요즘은 매체에서 매일 나오는 곳으로 '군의원의 외유성 해외...

In [5]:
petition1.shape

(377756, 7)

## 1) 2019년 부분데이터 읽어오기

In [7]:

data1 = pd.read_csv('pre1.csv')
a=data1.shape
a

(9384, 8)

In [8]:
data2 = pd.read_csv('pre2.csv')
b=data2.shape
b

(10235, 8)

In [9]:
data3 = pd.read_csv('pre3.csv')
c=data3.shape
c

(10188, 8)

In [10]:
data4 = pd.read_csv('pre4.csv')
d=data4.shape
d

(10146, 8)

In [11]:
data5 = pd.read_csv('pre5.csv')
e=data5.shape
e

(9607, 8)

In [14]:
data6 = pd.read_csv('pre6.csv')
f=data6.shape
f

(13643, 8)

In [15]:
t = a[0]+b[0]+c[0]+d[0]+e[0]+f[0]
t

63203

## 2) 부분 데이터 concat

In [17]:
data = pd.concat([data1,data2,data3,data4,data5,data6])
data.shape

(63203, 8)

In [18]:
df_fin = data[['article_id', 'start', 'end', 'votes', 'category', 'title', 'content']]
print(df_fin.shape)
df_fin.head(3)

(63203, 7)

,article_id,start,end,votes,category,title,content
0,492045,2019-01-09,2019-02-08,157,저출산/고령화대책,제발 난임 고통에 귀 기울여주세요,\r\n\t\t\t\t\t\t\t\t\t\t안녕하십니까 \r\r\n아이를 가지지 못...
1,492046,2019-01-10,2019-02-09,10,기타,대한민국 성폭행사건 이대로 괜찮은가?,\r\n\t\t\t\t\t\t\t\t\t\t하루가 멀다하고 성폭행 사건이 연이어 터...
2,492047,2019-01-10,2019-02-09,2,보건복지,금연정책 대해서말하고싶습니다,\r\n\t\t\t\t\t\t\t\t\t\t금연???\r\r\n담배는 계속 만들어내...

In [19]:
df_fin.tail(3)

,article_id,start,end,votes,category,title,content
13640,584664,2020-01-30,2020-02-29,291,안전/환경,작업현장에서 재해를 입었다면 누구라도 산재 적용이 되어야 합니다.,\n\t\t\t\t\t\t\t\t\t\t경영하던 던 회사를2012년경 여경리와 그의...
13641,584665,2020-01-30,2020-02-29,389,인권/성평등,군복무 경험 학점 인정 추진 업무협약을 취소시켜주세요,\n\t\t\t\t\t\t\t\t\t\t올해 서울대학교가 군복무 경험 학점 인정 추...
13642,584666,2020-01-30,2020-02-29,271,보건복지,어머님의 의료사고의사망관련자 처벌,\n\t\t\t\t\t\t\t\t\t\t안녕하세요 전 얼마전 한 병원의사의 무책임한...

## 3) 총 데이터 결합

In [20]:
bluehouse = pd.concat([petition1,df_fin])
print(bluehouse.shape)
bluehouse.head(3)

(440959, 7)

,article_id,start,end,votes,category,title,content
0,21,2017-08-19,2017-11-17,9,안전/환경,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...
1,22,2017-08-19,2017-11-17,17,기타,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...
2,23,2017-08-19,2017-09-03,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ..."

In [27]:
bluehouse = bluehouse.dropna()

In [28]:
bluehouse.isnull().sum()

article_id    0
start         0
end           0
votes         0
category      0
title         0
content       0
dtype: int64

In [29]:
bluehouse.shape

(440958, 7)

In [30]:
bluehouse.to_csv('bluehouse.csv', mode='w', index=False)

In [2]:
df = pd.read_csv('bluehouse.csv')
print(df.shape)
df.head(3)

(440958, 7)

,article_id,start,end,votes,category,title,content
0,21,2017-08-19,2017-11-17,9,안전/환경,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...
1,22,2017-08-19,2017-11-17,17,기타,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...
2,23,2017-08-19,2017-09-03,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ..."

## 4) 필요 데이터만 추출하여 새로운 데이터 프레임 만들기

In [4]:
df1 = df[df['start']>'2019-03-31']
print(df1.shape)
df2_1 = df[df['start']<='2019-03-31']
df2 = df2_1[df2_1['votes'] >=100]
print(df2.shape)
bluehouse2 = pd.concat([df2,df1])
print(bluehouse2.shape)
bluehouse2.to_csv('bluehouse2.csv', mode= 'w', index= False)

(5266, 7)
(20132, 7)
(25398, 7)